:root{
    --background-ui: black;

    --page-color-one: #ffdc5e;
    --page-color-two: #ffa3a5;

    --font-color-three: #7A8A90;

    /*#80ED99*/
    /*#26FFE6*/

    --card-color: rgb(247, 247, 247);

    --gradient-one: linear-gradient(135deg, var(--page-color-one), var(--page-color-two));
    --gradient-one-reversed: linear-gradient(135deg, var(--page-color-two), var(--page-color-one));

    --body-gradient: linear-gradient(180deg,#ffa3a599, #ffa3a555, #ffbf8133, #ffbf8133,#ffd33455,#ffd33499);
    
    --sheen: rgb(255, 255, 255);

    --default-font-color: white;

    --dotted-background-xoffset: 0px;
    --dotted-background-yoffset: 0px;

    --dotted-background-dotsize: 2px;
}

body{
    

    width: 100vw;
    min-height: 100vh;

    overflow-x: hidden;
}
   

*{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: var(--default-font-color);

    text-decoration: none;
}

input{
    border: var(--page-color-one) solid 2px;
    background-color: var(--background-ui);
    box-shadow: var(--page-color-two) 0px 0px 10px;
    border-radius: 1vmin;
    width: 30vw;
    height: 5vh;
    margin: 1vmin;
    padding: 1vmin;
}

button{
    margin: 1vmin;
    padding: 1vmin;

    border: var(--page-color-one) solid 2px;
    border-radius: 1vmin;

    background-color: var(--page-color-one);

    width: 10%;

    box-shadow: var(--page-color-two) 0px 0px 10px;
    transition: .25s;
}

button:hover{
    scale: 1.05;
}

#greeting{
    width: 100vw;
    height: 100vh;

    background-color: var(--background-ui);
    
    gap: 1vmin;
}

#greeting > .row-center{
    gap: 1.5vmin;
}

#greeting *{
    position: relative;
    z-index: 10;
}

#name{
    transform: translateX(var(--from));
    z-index: 0;
}

.hide-before-anim{
    transform: translateY(-1000px);
}

.row{
    display: flex;
}

.row-center{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
}

.row-absolute-center{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.row-space-around{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: inherit;
}

.column{
    display: flex;
    flex-direction: column;
    align-items:flex-end
}

.gap-small{
    gap: 1vmin;
}

.gap-large{
    gap: 6vmin;
}

.center{
    display: grid;
    place-items: center;
}

.absolute{
    position: absolute;
    top: 0;
}

.fixed{
    top: 0;
    position: fixed;
}

.fixed-center{
    position: fixed;
    top: 20%;
    left: 20%;
}

.font-style-mono{
    font-family: 'Roboto Mono', monospace;
}

.font-color-one{
    color: var(--page-color-one);
}

.glow-color-one{
    box-shadow: var(--page-color-one) 0 0 15px;
}

.glow-color-two{
    box-shadow: var(--page-color-two) 0 0 15px;
}

.font-glow-one{
    text-shadow: var(--page-color-one) 0 0 15px;
}

.font-color-two{

    color: var(--page-color-two);
}

.font-glow-two{
    text-shadow: var(--page-color-two) 0 0 15px;
}

.font-color-three{

    color: var(--font-color-three);
}

.font-glow-three{
    text-shadow: var(--font-color-three) 0 0 15px;
}

.font-gradient-one{
    background: linear-gradient(var(--page-color-one), var(--page-color-two));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.font-xlarge{
    font-size: 15vmin;
}

.font-large{
    font-size: 10vmin;
}

.font-medium{
    font-size: 7vmin;
}

.background-color-main{
    background: var(--background-ui);
}

.background-color-one{
    background-color: var(--page-color-one);
}

.background-color-two{
    background-color: var(--page-color-two);
}

.background-gradient{
    background-image: var(--gradient-one);
}

.background-gradient-reversed{
    background-image: var(--gradient-one-reversed);
}

.text-center{
    text-align: center;
}

.toster{
    animation: toster .5s ease forwards, sheen .5s ease forwards;
    animation-delay: calc(var(--Order) * 50ms + 100ms);
}

.slideOver
{
    animation: slideOver 1s ease forwards;
    animation-delay: calc(var(--Order) * 50ms + 100ms)
}

.slamDown
{
    animation: slamDown .1s forwards,sheen .5s ease;
    animation-delay: calc(var(--Order) * 50ms + 100ms)
}

.slide
{
    animation: slide .5s forwards;
    animation-delay: calc(var(--Order) * 50ms + 100ms)
}
.width-100{
    width: 100vw;
}

.width-90{
    width: 90vw;
}

.width-80{
    width: 80vw;
}

.width-70{
    width: 70vw;
}

.width-60{
    width: 60vw;
}

.width-50{
    width: 60vw;
}

.height-100{
    min-height: 100vh;
}

.height-90{
    min-height: 90vh;
}

.height-80{
    min-height: 80vh;
}

.height-70{
    min-height: 70vh;
}

.height-60{
    min-height: 60vh;
}

.height-50{
    min-height: 60vh;
}

.img-square{
    width: var(--size);
    height: var(--size);
}

.gradient-one{
    background-image: var(--gradient-one);
}

.body-gradient{
    background-color: rgb(46, 46, 46);
    background-image: var(--body-gradient);
    background-size: 100vw 100vh;
    z-index: -10;
}

#portrate-text{
    white-space: nowrap;
    position: absolute;
    z-index: -10;
}

#portrate-text::after{
    content: "|";

    animation: flash .5s steps(1);
    animation-iteration-count: infinite;

    z-index: -10;
}

#portrate-image{
    padding: 1.5vmin;
    border-radius: 50vmin;
}

#portrate-info{
    transform: translateY(-50%);
    z-index: -10;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 25vmax;
    height: 25vmax;

    background-color: var(--card-color);

    font-size: 2vmax;
    word-wrap: none;

    overflow: hidden;

    transition: .25s;

    transform-style: preserve-3d;
    transform: perspective(5000px);

    box-shadow: #27272727 5px 5px 15px;
    color: var(--font-color-three);

}

.card, .card *{
    padding: 5vmin;
}

.card:hover{
    scale: 1.05;
}

.card:hover::after{
    content: "/";

    position: absolute;
    top: -100%;
    left: -100%;

    font-size: 100vmin;
    animation: card-sheen .5s ease-out forwards;

    color: rgba(255, 255, 255, 0.547);

    transform: rotateX(0) rotateY(0);
}

.card:not(:hover)::after{

    content: "/";

    position: absolute;
    top: -75%;
    left: -100%;

    font-size: 100vmin;

    color: rgba(255, 255, 255, 0.547);
    animation: card-sheen-out .5s ease-out forwards;
}

i{
    font-size: 12vmax;

    background: var(--gradient-one);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.background-dotted{
    width: 100%;
    height: 100%;

    background-image: radial-gradient(rgba(255, 255, 255, 0.47) var(--dotted-background-dotsize), transparent 0);
    background-size: 40px 40px;
    background-position: var(--dotted-background-xoffset) var(--dotted-background-yoffset);

    transition: .01s;
}

@keyframes toster{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes slideOver{
    0%{
        transform: translateX(var(--from));
        opacity: 0;
    }

    100%{
        transform: translateX(var(--to));
        opacity: 1;
    }
}

@keyframes slamDown{
    0%{
        transform: translateY(var(--from));
        opacity: 0;
    }

    100%{
        transform: translateY(var(--to));
        opacity: 1;
    }
}

@keyframes sheen {
    50%{
        color: var(--sheen);
    }
}

@keyframes slide {
    0%{
        transform: translateY(var(--from));
    }
    100%{
        transform: translateY(var(--to));
    }
}

@keyframes flash{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@keyframes card-sheen{
    0%{
        left: -100%;
    }

    100%{
        left: 0%;
    }
}

@keyframes card-sheen-out{
    0%{
        left: 0%;
    }

    100%{
        left: 100%;
    }
}

